* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-grid-border: #b7b6b6;
}

h1 {
  text-align: center;
  margin: 2rem 0;
  text-transform: uppercase;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.grid-box {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
